﻿html {
    position: relative;
    height : 100%;            /* Internet Explorer treats as min-height. */
    min-height : 100%; 
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    max-height: 100%;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*************************************************************************************************************/

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-nav {
    float: right;
  }
}

header {
    background: url("Images/bg_dark.png") no-repeat center center;
    background-size: cover;
    padding: 20px 10px 60px 10px;
    height: 94vh;
    max-width: 100vw;
}

header > div > h1 {
    font-size: 55px;
line-height: 55px;
letter-spacing: -1px;
color: #ffffff;
font-weight: 700;
font-family: 'Montserrat', sans-serif;
margin-top: 20px;
margin-bottom: 10px;
}

.header-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: 0px;
    margin-bottom: 12%;
}

.lead {
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
}

.main-footer {
    padding-left: 20px;
}

/*******************************************************************************************************************/

.sidebar.navbar {
	border-radius: 0px;
}

.sidebar{
	-webkit-transition: margin 200ms ease-out;
	-moz-transition: margin 200ms ease-out;
	-o-transition: margin 200ms ease-out;
	transition: margin 200ms ease-out;
}

@media (min-width: 768px) {

	.sidebar .navbar-collapse, .sidebar .container-fluid{
		padding: 0 0px 0 0px;
	}

	.sidebar{
		width: 180px;
		margin-left: -160px;
		float: left;
		margin-bottom: 0px;
        height: 100%;
        position: fixed;
	}

	.sidebar li, .sidebar-header, .sidebar ul {
		width: 100%;
	}

	.sidebar:hover {
		margin-left: 0px;
	}

    .main-content {
        position: absolute;
		width: calc(100% - 40px); /*keeps 100% minus nav size*/
		margin-left: 40px;
		float: right;
    }

    .sidebar:hover + .main-content{
		margin-left: 200px;
	}
}

@media (min-width: 992px) {
	.sidebar{
		margin-left: 0px;
		float: left;
        padding-top: 10vh;
	}

    .main-content{
		width: calc(100% - 400px); /*keeps 100% minus nav size*/
		margin-left: 200px;
        margin-right: 200px;
	}
}

.main-content {
    padding: 10px 10px 0 10px;
}

.search-input{
    padding: 0px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

.search-input input{
    border: 0;
    box-shadow: none;
}

.search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

.search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

.search-input .glyphicon-search{
    font-size: 16px;
}

.catalog-cover {
    height: 45vh;
}

.catalog-title {
    color: black;
    font-size: 28px;
}

.catalog-author {
    color: darkgray;
    font-size: 20px;
}

.pager-text {
    vertical-align: middle;
}

.book {
    padding-top: 20px;
}

.comment-bar {
    background-color: gray;
    width: 180px;
	/*margin-left: -160px;*/
	float: right;
	margin-bottom: 0px;
    height: 100%;
    position: fixed;
    z-index: 10000;
    right: 0px;
}
