﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="padding-top: 0px">
        <div class="navbar navbar-inverse sidebar">
            <div class="container-fluid">
                <div class="navbar-header sidebar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <@Html.ActionLink("Biblioteka Sii", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Katalog książek", "Index", "Books")</li>
                        @using Microsoft.AspNet.Identity
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Ulubione", "Index", "Books")</li>
                            <li>@Html.ActionLink("Wypożyczone", "Index", "Books")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    <div class="container body-content main-content">
        @RenderBody()
        <hr />
        <footer class="main-footer">
            <p>&copy; @DateTime.Now.Year - Biblioteka Sii</p>
        </footer>
    </div>
    <div class="comment-bar hidden-xs hidden-sm hidden-md">
        Ostatnie komentarze
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
