﻿@using PagedList;
@using PagedList.Mvc
@model IPagedList<Library.Models.BookModel>

@{
    ViewBag.Title = "Katalog książek";
}
<div class="grid">
    <div class="row">
        <div class="col-lg-2">
            <h2>Katalog</h2>
        </div>
        <div class="col-lg-offset-8 col-lg-2 search-input">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="Szukaj" />
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-5 col-lg-3">
           @Html.ActionLink("Najnowsze", "Index", new { sortOrder = ViewBag.NewSortParm }) / 
            @Html.ActionLink("Najlepiej ocenione", "Index", new { sortOrder = ViewBag.BestSortParm })
        </div>
    </div>
    <!--div class="row">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </!div>
    <!--table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Author)
            </th>
            <th></th>
        </tr>
    <div class="col-lg-offset-11"></div-->
    <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-4 book">
            <!--tr-->
            <!--td-->
            <img class="img-responsive catalog-cover" src="~/Content/Images/examplecover.jpg" />
            <div class="catalog-title">
                @Html.DisplayFor(modelItem => item.Name)
            </div>

            <!--/td>
            <td-->
            <div class="catalog-author">
                @Html.DisplayFor(modelItem => item.Author)
            </div>
            <!--/td-->
            <!--td>
                @Html.ActionLink("Edit", "Edit", new { id=item.BookID }) |
                @Html.ActionLink("Details", "Details", new { id=item.BookID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.BookID })
            </!td-->
            <!--/tr-->
        </div>
    }
    </div>
    <br />
    <div class="row">
        <div class="col-lg-offset-5 col-lg-2">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>
<!--/table-->
