﻿@{
    ViewBag.Title = "Home Page";
}

<header>
    <div class="text-center header-info">
        <h1>ASP.NET</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipis. <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit sit dol mi arlna.
        </p>
        <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Zaloguj się &raquo;</a></p>
    </div>
</header>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>