﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Biblioteka Sii", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse masthead-nav">
                <ul class="nav navbar-nav">
                    <!--li>@Html.ActionLink("Home", "Index", "Home")</li-->
                    <!--li>@Html.ActionLink("About", "About", "Home")</li-->
                    <li>@Html.ActionLink("Katalog książek", "Index", "Books")</li>
                    <!--li>@Html.ActionLink("Kontakt", "Contact", "Home")</li-->
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    <div>
        @RenderBody()
        <hr />
    </div>
    <div class="container body-content">
        <footer class="main-footer">
            <p>&copy; @DateTime.Now.Year - Biblioteka Sii</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
